
    <label>{{label}}</label>
  {{bootstrap-datepicker
  value=value
  placeholder=placeholder
  format="yyyy-mm-dd"
  class="form-control"
  weekStart=1
  language='ru'
  todayHighlight=todayHighlight
  changeDate="valueChanged"
  }}

{{yield}}
